* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}
h1, h2 {
    margin: 0;
    text-align: center;
}

h1 {
    color: #483C32;
    font-style: italic;
}

h2 {
    text-decoration: underline;
    color: darkgrey;
}

header img {
    width: 85%;
}

img{
    vertical-align: middle;
}

figure{
    vertical-align: middle;
}


.inline_display{
    display: inline-block;
    padding-inline: 5px;
}

nav {
    background-color: lightslategrey;
    margin: 35px;
}

nav a {
    padding-left: 5%;
}

nav a:hover {
    color: red;
}

nav a:active {
    color: yellow;
}

article {
    width: 69%;
    background-color: lightslategrey;
    color: #483C32;
    margin: 35px;
}

article span {
    color: red;
}

section {
    margin: 15px;
}

aside{
    float: right;
    width: 25%;
    background-color: slategrey;
}

.aside{
    padding: 5px;
}

footer{

    border-top-style: solid;
    border-top-color: darkblue;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-bottom-color: darkblue;
    border-bottom-width: 1px;


}

datalist{
    padding-bottom: 10px;
}

fieldset{
    padding: 10px;
    width: 25%;
}

figcaption{
   font-size: 20px;
   text-shadow: 0.1em 0.1em 0.2em black;
}