* {
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background-color: whitesmoke;
}

header {
    text-align: center;

}

h1, h2 {
    margin: 15px 0 ;
}

h1 {
    color: #483C32;
    font-style: italic;
    text-align: center;
}

h2 {
    text-decoration: underline;
    color: darkgrey;
    text-align: left;
}

h3 {
    font-weight: bold;
    color: blue;
}

figure {
    background-color: darkgrey;
    padding: 25px;
}

nav, footer {
    margin: 10px auto;
}

nav {
    font-size: x-large;
    font-weight: bold;
    background-color: lightskyblue;
    padding: 20px;
}

nav a {
    padding-left: 5%;
}

nav a:hover {
    color: white;
}

nav a:active {
    color: purple;
}

article {
    padding: 35px;
    margin-bottom: 5px;
}

article span {
    color: red;
}

section {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}

aside {
    float: right;
    padding: 35px;
    width: 20%;
    background-color: lightsalmon;
}

.flex-container {
    display: flex;
    text-align: justify;
    flex-flow: row wrap;
}

footer {
    border-top-style: solid;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
}

datalist {
    padding-bottom: 10px;
}

fieldset {
    padding: 10px;
    width: 25%;
}

figcaption {
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

input[type=submit] {
    background-color: lightskyblue;
    border: none;
    font-weight: bold;
    font-size: large;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}