<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar opção</title>
</head>
<body>
<h1>{{ questao.questao_texto }}</h1>
<form method="post">
    {% csrf_token %}
    <label for="textbox">Texto da nova opção:</label>
    <input type="text" id="novaopcao" name="novaopcao" size="60">
    <br>
    <br>
    <button type="submit">Gravar nova opção</button>
    <br><br>
    <button type="submit" formaction="{% url 'votacao:detalhe' questao.id %}" onclick="location.reload()">Voltar à questão</button>
</form>
</body>
</html>