{% extends 'user/hello.html' %}

{% block title %}Criar opção{% endblock %}

{% block content %}
    <h1>{{ questao.questao_texto }}</h1>
    <form>
        {% csrf_token %}
        <label for="novaopcao">Texto da nova opção:</label>
        <input type="text" id="novaopcao" name="novaopcao" size="60">
        <br>
        <br>
        <button type="submit" formmethod="post">Gravar nova opção</button>
        <br><br>
        <button type="submit" formmethod="get" formaction="{% url 'votacao:detalhe' questao.id %}">Voltar à questão</button>
    </form>
{% endblock %}