{% extends 'votacao/index.html' %}

{% block title %}Criar opção{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}

        <form>
            {% csrf_token %}
            <h1>{{ questao.questao_texto }}</h1>
            <label for="novaopcao">Texto da nova opção:</label>
            <input type="text" id="novaopcao" name="novaopcao" size="60">
            <br>
            <br>
            <input type="submit" formmethod="post" value="Gravar nova opção">
            <input type="submit" formmethod="get" formaction="{% url 'votacao:detalhe' questao.id %}"
                   value="Voltar à questão">
        </form>
    {% endif %}
{% endblock %}