{% extends 'votacao/index.html' %}

{% block title %}Criar questão{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block subtitle %}<h1>Texto da nova questão</h1>{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <form>
            {% csrf_token %}
            <label for="novaquestao"></label><input type="text" id="novaquestao" name="novaquestao" size="60"/>
            <br><br>
            <input  type="submit" formmethod="post" formaction="{% url 'votacao:criar_questao' %}"
                   value="Gravar nova questão">
        </form>
    {% endif %}
{% endblock %}