{% extends 'votacao/index.html' %}

{% block title %}Criar questão{% endblock %}

{% block outros_links %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <form>
            {% csrf_token %}
            <h1>Texto da nova questão</h1>
            <label for="novaquestao"></label><input type="text" id="novaquestao" name="novaquestao" size="60"/>
            <br>
            <br>
            <button type="submit" formmethod="post" formaction="{% url 'votacao:gravar_questao' %}">Gravar nova questão
            </button>
        </form>
    {% endif %}
{% endblock %}