{% extends 'votacao/index.html' %}

{% block title %}
    Detalhe da questao {{ questao.id }}
{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <h1>{{ questao.questao_texto }}</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        {% for opcao in questao.opcao_set.all %}
            <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}"/>
            <label for="opcao{{ forloop.counter }}">{{ opcao.opcao_texto }}</label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" formmethod="post" formaction="{% url 'votacao:voto' questao.id %}"
               value="Voto">
        {% if request.user.is_superuser %}
            <input type="submit" formmethod="get"
                   formaction="{% url 'votacao:criar_opcao' questao.id %}" value="Criar nova opção">
            <input type="submit" formmethod="post" style="background-color: red"
                   formaction="{% url 'votacao:apagar_opcao' questao.id %}"
                   value="Apagar opção">
            <input type="submit" formmethod="post" style="background-color: red"
                   formaction="{% url 'votacao:apagar_questao' questao.id %}" value="Apagar questão">
        {% endif %}
    </form>
{% endblock %}
