<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhe</title>

</head>
<body>

    <h1>{{ questao.questao_texto }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for opcao in questao.opcao_set.all %}
            <input id="opcao{{ forloop.counter }}" name="opcao"
                   type="radio"
                   value="{{ opcao.id }}"/>
            <label for="opcao{{ forloop.counter }}">
                {{ opcao.opcao_texto }}
            </label>
            <br/>
        {% endfor %}
        <br/>
        <input type="submit" formaction="{% url 'votacao:voto' questao.id %}" value="Voto"/>
        <br/><br/>
        <input type="submit" formaction="{% url 'votacao:criaropcao' questao.id %}" value="Criar nova opção"/>
        <input type="submit" formaction="{% url 'votacao:removeropcao' questao.id %}" value="Remover opção"/>
        <br/><br/>
        <input type="submit" formaction="{% url 'votacao:removerquestao' questao.id %}" value="Remover questão"/>
    </form>
</body>
</html>