{% extends 'votacao/index.html' %}

{% block title %}Upload imagem{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
    <li><a href="{% url 'votacao:informacao' %}">Voltar ao perfil</a></li>
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="{% url 'votacao:fazer_upload' %}">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="submit" value="Upload">
    </form>
{% endblock %}