<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/styles.css' %}?{% now "U" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'votacao/scripts/scripts.js' %}"></script>
    <title>{% block title %} Página de votação {% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <section>
                <h1>O ISCTE e as suas perguntas</h1>
            </section>
            {% block username %}
                <aside>
                    <form>
                        {% if request.user.is_authenticated %}
                            Olá <label id="picture_username" for="imagem_perfil">{{ request.session.USERNAME }}</label>
                            {% if request.session.PICTURE %}
                                <img id="imagem_perfil" src="{{ request.session.PICTURE }}?{% now "U" %}"
                                     alt="Imagem de perfil">
                            {% endif %}, já votaste {{ request.session.VOTOS }}
                            {{ request.session.VOTOS|pluralize:"vez,vezes" }}
                            <a href="{% url 'votacao:informacao' %}">
                                <img src="{% static 'votacao/images/pencil.png' %}" alt="Editar perfil"></a>
                            <a href="{% url 'votacao:logout' %}">
                                <img src="{% static 'votacao/images/logout.png' %}" alt="Logout"></a>
                        {% else %}
                            <button type="submit" formaction="{% url 'votacao:login' %}">Login</button>
                            <button type="submit" formaction="{% url 'votacao:register' %}">Registar</button>
                        {% endif %}
                    </form>
                </aside>
            {% endblock %}
        </div>
        <div id="banner"></div>
    </header>
    <nav>
        <div class="container">
            <ul>
                {% block opcoes_e_controlos %}
                    {% if request.user.is_superuser %}
                        {% if latest_question_list %}
                            <li>
                                <button id="botao_questoes">Mostrar questões</button>
                            </li>
                        {% endif %}
                        <li><a href="{% url 'votacao:criar_questao' %}">Criar nova questão</a></li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            {% block content %}
                <form id="lista_questoes" style="display: none">
                    {% csrf_token %}
                    {% if latest_question_list %}
                        <h1>Lista de questões disponíveis</h1>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <ul>
                            {% for questao in latest_question_list %}
                                <li>
                                    <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h1>Não há questões disponíveis.</h1>
                    {% endif %}
                </form>
            {% endblock %}
        </div>
    </main>
</body>
</html>
