<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de votação</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}
        {% if latest_question_list %}
            <h1>Lista de questões disponíveis</h1>
            <ul>
                {% for questao in latest_question_list %}
                    <li>
                        <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>Não há questões disponíveis.</h1>
        {% endif %}
        <button type="submit" formaction="/votacao/criarquestao">Criar nova questão</button>
    </form>
</body>
</html>