{% extends 'votacao/index.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block subtitle %}Olá {{ request.user.aluno }}!{% endblock %}

{% block content %}
    <form>
        {% if request.user.is_authenticated %}
            <aside>
                <ul>
                    <li>Username -- {{ request.user.username }}</li>
                    <li>E-mail -- {{ request.user.email }}</li>
                    <li>Curso -- {{ request.user.aluno.curso }}</li>
                </ul>
            </aside>
            {% if request.user.imagem %}
                <img src="{% static 'media' %}/{{ request.user.imagem.url }}?{% now "U" %}" alt="Imagem de perfil">
            {% else %}
                <img src="{% static 'votacao/images/profile.png' %}?{% now "U" %}" alt="Imagem de perfil">
            {% endif %}
            <br><br>
            <input type="submit" formaction="{% url 'votacao:fazer_upload' %}" value="Atualizar imagem de perfil">
            <br>
        {% endif %}
    </form>
{% endblock %}