{% extends 'votacao/index.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block content %}
    <form>
        {% if request.user.is_authenticated %}
            <h1>Olá {{ request.session.FULL_NAME }}!</h1>
            {% if request.session.PICTURE %}
                <a href="{% url 'votacao:informacao' %}">
                    <img src="{{ request.session.PICTURE }}?{% now "U" %}" alt="Imagem de perfil">
                </a>
            {% endif %}
            <br><br>
            <button type="submit" formaction="{% url 'votacao:fazer_upload' %}">Atualizar imagem de perfil</button>
            <ul>
                <li>Username -- {{ request.session.USERNAME }}</li>
                <li>E-mail -- {{ request.session.EMAIL }}</li>
                <li>Curso -- {{ request.session.CURSO }}</li>
            </ul>
            <br>
        {% else %}
            <h1>Olá utilizador anónimo!</h1>
        {% endif %}
        
    </form>

{% endblock %}