{% extends 'votacao/index.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
{% endblock %}

{% block subtitle %}<h1>Olá {{ request.user.aluno }}!</h1>{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <section>
        <form>
            <div id="imagem_perfil_xl">
                {% if request.user.imagem %}
                    <img src="{% static 'media' %}/{{ request.user.imagem.url }}?{% now "U" %}" alt="Imagem de perfil">
                {% else %}
                    <img src="{% static 'votacao/images/profile.png' %}?{% now "U" %}" alt="Imagem de perfil">
                {% endif %}
            </div><p>
                <input type="submit" formaction="{% url 'votacao:fazer_upload' %}" value="Atualizar imagem de perfil">
        </form>
    </section>

    <aside id="detalhes_perfil" style="display: none">
        <p><b>Username</b> -- {{ request.user.username }}</p>
        <p><b>E-mail</b> -- {{ request.user.email }}</p>
        <p><b>Curso</b> -- {{ request.user.aluno.curso }}</p>
    </aside>
{% endif %}

{% endblock %}