{% extends 'votacao/index.html' %}

{% block title %}Registo{% endblock %}

{% block username %}{% endblock %}

{% block opcoes_e_controlos %}{% endblock %}

{% block subtitle %}Registo{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Olá {{ request.user.username }}!</h1>
    {% else %}
        <form class="form-container" method="POST" action="{% url 'votacao:register' %}">
            {% csrf_token %}
            <div class="form-column">
                <label for="username" class="required">Username</label><br>
                <input type="text" required id="username" name="username" size="40"/>
                <p>
                    <label for="password" class="required">Password</label><br>
                    <input type="password" required id="password" name="password" size="40"/>
                <p>
                    <label for="nome">Nome Próprio</label><br>
                    <input type="text" id="nome" name="nome" size="40"/>
                <p>
                    <label for="apelido">Apelido</label><br>
                    <input type="text" id="apelido" name="apelido" size="40"/>
                <p>
                    <label for="email" class="required">E-mail</label><br>
                    <input type="email" required id="email" name="email" size="40"/>
                <p>
                <p><small>
                    {% if error_message %}
                        <strong>{{ error_message }}. </strong>
                    {% else %}
                        Já tem conta?
                    {% endif %}
                    <a href="{% url 'votacao:login' %}">Faça login aqui</a>
                </small></p>
                <input type="submit" value="Submeter"/>
            </div>
            <div class="form-column">
                <label for="comentario">Comentário<br>
                    <textarea name="comentario" cols="40" rows="5"></textarea>
                </label>
            </div>
        </form>
    {% endif %}
{% endblock %}