<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
    <form>
        <h1>{{ questao.questao_texto }}</h1>
        <ul>
            {% for opcao in questao.opcao_set.all %}
                <li>{{ opcao.opcao_texto }} --
                    {{ opcao.votos }}
                                            voto{{ opcao.votos|pluralize }}</li>
            {% endfor %}
        </ul>
        <br>
        <button type="submit" formaction="{% url 'votacao:detalhe' questao.id %}">Votar novamente</button>
        <button type="submit" formaction="{% url 'votacao:detalhe' questao.id %}">Voltar à questão</button>
    </form>
</body>
</html>