{% extends 'votacao/index.html' %}

{% block title %}Resultados{% endblock %}

{% block opcoes_e_controlos %}
    <li><a href="{% url 'votacao:index' %}">Voltar às questões</a></li>
    <li><a href="{% url 'votacao:detalhe' questao.id %}">Voltar à questão</a></li>
{% endblock %}

{% block subtitle %}<h1>{{ questao.questao_texto }}</h1>{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <ul>
            {% for opcao in opcoes %}
                <li>{{ opcao.opcao_texto }} -- {{ opcao.count }} voto{{ opcao.count|pluralize }}</li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}