{% extends 'user/hello.html' %}

{% block title %}Resultados{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <h1>{{ questao.questao_texto }}</h1>
        <ul>
            {% for opcao in opcoes %}
                <li>{{ opcao.opcao_texto }} -- {{ opcao.count }} voto{{ opcao.count|pluralize }}</li>
            {% endfor %}
        </ul>
        <br>
        <button type="submit" formmethod="get" formaction="{% url 'votacao:detalhe' questao.id %}">Voltar à questão
        </button>
    </form>
{% endblock %}