* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvitica, sans-serif;
    margin: 0;
}

#header, #nav, #footer {
    background-color: darkgreen;
    overflow: auto;
}

#header h1 {
    color: aliceblue;
}

#banner {
    background-image: url("../images/green-yellow-light.jpg");
    background-size: 100% 100%;
    text-align: center;
    padding: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

#nav a {
    text-decoration: none;
    color: aliceblue;
}

#nav a:hover {
    color: orange;
}

#nav a:active {
    color: red;
}

#nav li {
    display: inline;
    padding-right: 20px;
}

#nav ul {
    padding: 0;
}

#articles {
    width: 69%;
    margin-right: 1%;
}

#aside {
    width: 30%;
    background-color: darkseagreen;
    vertical-align: top;
    padding: 0 10px;
}

#footer {
    color: azure;
    text-align: center;
}