<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hello{% endblock %}</title>
</head>
<body>
    <header style="float: right">
        <form>
            {% if request.user.is_authenticated %}
                Olá {{ request.user.username }}
                <button type="submit" formaction="{% url 'user:logout' %}">Logout</button>
            {% else %}
                <button type="submit" formaction="{% url 'user:login' %}">Login</button>
                <button type="submit" formaction="{% url 'user:register' %}">Registar</button>
            {% endif %}
        </form>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
