<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Olá {{ request.user.username }}!</h1>
    {% else %}
        <h1>Login</h1>
        <form method="POST" action="{% url 'user:login' %}">
            {% csrf_token %}
            <label for="username">Username: </label><input type="text" id="username" name="username" size="40"/>
            <br><br>
            <label for="password">Password: </label><input type="password" id="password" name="password" size="40"/>
            <p><small>
                {% if error_message %}
                    <strong>{{ error_message }}. </strong>
                {% else %}
                    Não tem conta? 
                {% endif %}
                <a href="{% url 'user:register' %}">Registe aqui</a>
            </small></p>
            <br>
            <input type="submit" value="Login"/>
        </form>
    {% endif %}
</body>
</html>