<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registo</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Olá {{ request.user.username }}!</h1>
    {% else %}
        <h1>Registo</h1>
        <form method="POST" action="{% url 'user:register' %}">
            {% csrf_token %}
            <label for="username">Username: </label><input type="text" id="username" name="username" size="40"/>
            <br><br>           
            <label for="email">E-mail: </label><input type="email" id="email" name="email" size="40"/>
            <br><br>
            <label for="password">Password: </label><input type="password" id="password" name="password" size="40"/>
            <br><br>
            <label for="curso">Curso: </label><input type="text" id="curso" name="curso" size="40"/>
            <p><small>Já tem conta? <a href="{% url 'user:login' %}">Faça login aqui</a></small></p>
            <br>
            <input type="submit" value="Registo"/>
        </form>
    {% endif %}
</body>
</html>