<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hello{% endblock %}</title>
</head>
<body>
    <header style="float: right">
        <form>
            {% if request.user.is_authenticated %}
                <a href="{% url 'votacao:informacao' %}">Olá {{ request.session.USERNAME }}</a>, 
                já votaste {{ request.session.VOTOS }} {{ request.session.VOTOS|pluralize:"vez,vezes" }}
                <button type="submit" formaction="{% url 'votacao:logout' %}">Logout</button>
            {% else %}
                <button type="submit" formaction="{% url 'votacao:login' %}">Login</button>
                <button type="submit" formaction="{% url 'votacao:register' %}">Registar</button>
            {% endif %}
        </form>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
