* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvitica, sans-serif;
    margin: 0;
}

header, nav, footer {
    background-color: #0D28C2;
    overflow: auto;

    picture, img {
        height: 25px;
    }
}

header h1 {
    color: azure;
}

#banner {
    background-image: url("../images/iscte_img.jpg");
    text-align: center;
    padding: 200px;
}


#banner h1 {
    color: #0D28C2;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    text-decoration: none;
    color: azure;
}

nav a:hover {
    color: orange;
}

nav a:active {
    color: red;
}

nav li {
    display: inline;
    padding-right: 20px;
}

nav ul {
    padding: 0;
}

section {
    width: 69%;
    margin-right: 1%;
}

aside {
    color: azure;
}

footer {
    color: azure;
    text-align: center;
}
