* {
    box-sizing: border-box;
}

body {
    font-family: arial, helvitica, sans-serif;
    margin: 0;

    img {
        height: 20%;
    }
}

header, nav {
    background-color: #0D28C2;
    overflow: auto;

    img {
        width: 25px;
    }
}

header h1, header aside{
    color: azure;
}

body aside{
    float: right;
}

#banner {
    background-image: url("../images/iscte_img.jpg");
    text-align: center;
    padding: 200px;
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    text-decoration: none;
    color: azure;
}

nav a:hover {
    color: lightblue;
}

nav a:active {
    color: red;
}

nav li {
    font-weight: bold;
    font-size: large;
    display: inline;
    padding-right: 20px;
}

nav ul {
    padding: 0;
}

section {
    width: 69%;
    margin-right: 1%;
}


input[type=submit], input[type=file]  {
    background-color:#0D28C2;
    color: azure;
    border: none;
    font-weight: bold;
    font-size: large;
    padding: 7px 14px;
    margin: 4px 2px;
    cursor: pointer;
}
